/*{
  background: url("https://s3.amazonaws.com/thatonetour.com/ToT-Images/IMG_2961.JPG")
}*/
/*h1 {
  background-image: url("https://s3.amazonaws.com/thatonetour.com/ToT-Images/IMG_2961.JPG");
}*/

.header {
  text-align: center;
  font-family: sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 12px;
    overflow: hidden;
    float: left;
    display: block;
    background-color: #dddddd;
}

li {
    float: left;
}
.navbar {
  color: #4B736F;
}
